[submodule "CUE4Parse"]
	path = CUE4Parse
	url = https://github.com/hypermodule/CUE4Parse.git
[submodule "EpicManifestParser"]
	path = EpicManifestParser
	url = https://github.com/FModel/EpicManifestParser